.section {
    box-sizing: border-box;
    height: 520px;
    color: #fff;
    background: #873dff;
    padding-top: 84px;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 900px;
    height: 100%;
    padding: 0 32px;
    margin: 0 auto;
}

.content {
    align-self: center;
    width: 440px;
}

.heading {
    font-weight: 700;
    font-size: 36px;
    margin: 64px 0 22px;
}

.description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}

.actions {
    display: flex;
    flex-flow: row wrap;
    row-gap: 12px;
    column-gap: 16px;
    margin-top: 24px;
}

.button {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
    background: #352977;
    padding: 0 20px;
    border-radius: 12px;
}

.buttonIconEmail {
    width: 24px;
    height: 24px;
    background: url(../../assets/email.svg) center center no-repeat;
    background-size: contain;
    margin-right: 12px;
}

.buttonIconDiscord {
    width: 24px;
    height: 24px;
    background: url(../../assets/discord.svg) center center no-repeat;
    background-size: contain;
    margin-right: 12px;
}

.buttonIconMerch {
    width: 24px;
    height: 24px;
    background: url(../../assets/tshirt.svg) center center no-repeat;
    background-size: contain;
    margin-right: 12px;
}

.photos {
    flex: 1;
    position: relative;
}

.photo {
    position: absolute;
    width: 320px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.photo::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(135, 61, 255, 0.2);
}

.photo1 {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translate(0, 20px) rotate(4deg);
}

.photo2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(75px, 0) rotate(5deg);
}

.photo3 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translate(-25px, 20px) rotate(-5deg);
}


@media screen and (max-width: 800px) {
    .section {
        height: auto;
        padding: 64px 0;
    }

    .content {
        width: auto;
    }

    .photos {
        display: none;
    }
}