.section {
  background: #fff;
  padding: 64px 0 64px;
}

.container {
  display: block;
  box-sizing: border-box;
  max-width: 900px;
  padding: 0 32px;
  margin: 0 auto;
}

.photo {
  object-fit: cover;
  display: block;
  width: 400px;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 0 auto 48px;
  overflow: hidden;
}

.description {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
}

.description p {
  margin: 0 0 16px;
}

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 12px;
  column-gap: 16px;
  margin-top: 24px;
}

.link {
  display: flex;
  align-items: center;
  height: 40px;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  background: #352977;
  padding: 0 20px;
  border-radius: 12px;
}
