.section {
  box-sizing: border-box;
  height: 200px;
  color: #fff;
  padding-top: 84px;
  background: #873dff;
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.45)),
    url(../../../assets/photos/pride-hero.jpg) no-repeat center center; */
  background-size: cover;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  height: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 36px;
}

@media screen and (max-width: 800px) {
  .section {
    height: auto;
    padding: 64px 0;
  }

  .content {
    width: auto;
  }

  .photos {
    display: none;
  }
}
